@charset "utf-8";

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.main {
  width: 70%;
  background-color: pink;
  padding: 10px;
}

.aside {
  width: 30%;
  background-color: lightblue;
  padding: 10px;
}