@charset "utf-8";

.wrapper {
  font-size: 0;
  width: 200px;
  height: 200px;
  background-color: #f00;
  padding: 50px;
}

.inner {
  background-color: #0f0;
  width: 100%;
  height: 100%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #00f;
  position: absolute;
  top: 0;
  left: 0;
}
